.nav-element::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width .3s;
}

.nav-element:hover::after{
    width: 100%;
    transition: width .3s;
}

.title-section-black::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: rgb(0,0,0);
    transition: width .3s;
}

.title-section-black:hover::after, .title-section-white:hover::after{
    width: 100%;
    transition: width .3s;
}

.title-section-white::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: rgb(255,255,255);
    transition: width .3s;
}
