.nav-element::after{
    display: none;
}

.nav-element:hover::after{
    width: 100%;
    transition: width .3s;
}

.title-section-black::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: rgb(0,0,0);
    transition: width .3s;
}

.title-section-black:hover::after, .title-section-white:hover::after, .title-section-mix:hover::after{
    width: 100%;
    transition: width .3s;
}

.title-section-white::after, .title-section-mix::after{
    content: '';
    display: block;
    width: 0;
    height:3px;
    background-color: rgb(255,255,255);
    transition: width .3s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    2% {
        opacity: 1;
        transform: translateX(0px);
    }

    18% {
        opacity: 1;
        transform: translateX(0px);
    }

    20% {
        opacity: 0;
        transform: translateX(50px);
    }


}

.changing-words span:nth-child(1){
    animation-delay: 0s;
}

.changing-words span:nth-child(2){
    animation-delay: 3s;
}

.changing-words span:nth-child(3){
    animation-delay: 6s;
}

.link-lcdl {
    text-decoration: none;
    color: rgb(255, 0, 0);
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

.popup .popuptext {
    visibility: hidden;
    width: auto;
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 6px;
    padding: 10px 15px;
    position: absolute;
    z-index: 1;
    bottom: -100%;
    left: 200%;
    margin-left: -80px;
    font-weight: 200;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* menu responsive */
@media (min-width:700px){

.nav-element::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transition: width .3s;
}

.title-section-black::after, .title-section-mix::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: rgb(0,0,0);
    transition: width .3s;
}

.title-section-white::after{
    content: '';
    display: block;
    width: 0;
    height: 4px;
    background-color: rgb(255,255,255);
    transition: width .3s;
}


}