.white {
  color: rgb(255, 255, 255);
}

li a {
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  padding: 20px;
  font-size: 14px;
}

.icon{
    font-size: 21px;
}

.title-section, .gallery-title{
    font-family: 'Source Code Pro';
}

.title-section{
    font-size: 52px;
    border-bottom: 2px;
    font-weight: lighter;
}

.gallery-item {
    position:relative;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 50px;
    border: 1px solid rgb(0, 0, 0);
}

.gallery-item:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    position: absolute;
    cursor: default;
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
  
.hovereffect .overlay {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  
  .hovereffect img {
    width: 110%;
    height: auto;
    display: block;
    position: relative;
    max-width: none;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  .overlay a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-size: 21px;
    letter-spacing: 8px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    margin: auto;
    opacity: 0;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
    font-weight: lighter;
  }

  .overlay a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover a:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
    
  a:hover{
      opacity: 1;
  }

 .gallery-title {
    font-weight: lighter;
    width: 80%;
  }
  

