.white {
  color: rgb(255, 255, 255);
}

li a {
  text-decoration: none;
  display: inline-block;
  color: rgb(255, 255, 255);
  font-family: 'Source Code Pro', monospace;
  text-decoration: none;
  padding: 20px;
  font-size: 14px;
}

.icon{
    font-size: 21px;
}

.title-section-black, .title-section-white, .gallery-title, .animate-approach, .presentation, .profesional-profile, .work-list, .btn-to span,
.firm {
    font-family: 'Source Code Pro';
}

.title-section-black, .title-section-white{
    font-size: 52px;
    border-bottom: 2px;
    font-weight: lighter;
}

.title-section-white{
  color: rgb(255, 255, 255);
}

.gallery-item{
  position:relative;
  width: 35%;
  margin-left: 10%;
  margin-bottom: 50px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: -6px 6px rgb(0, 0, 0);
}

.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: rgb(0, 0, 0);
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 30px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  font-size: 40px;
  letter-spacing: 10px;
  overflow: hidden;
  background-color: transparent;
  padding: 20px;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgb(255, 255, 255);
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a {
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.overlay {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay:hover{
  opacity: 1;
}

.gallery-title {
  font-weight: lighter;
  width: 80%;
  margin: auto;
}

.changing-words span{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 75px;
  margin-left: 8px;
  padding: 0 20px;
}

.design {
  font-size: 90px;
  color: rgb(0, 0, 0);
}

.presentation {
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
  padding: 20px 20px;
  margin: 0;
}

.profesional-profile{
  font-size: 13px;
  font-weight: lighter;
  text-align: justify;
  padding: 20px 20px;
  margin: 0;
}

.work-list ul{
  color: rgb(255, 255, 255);
  padding: 0px 40px;
  list-style: square white;
}

.btn-to span {
  font-size: 21px;
  color: rgb(70, 70, 70);
}

.btn-to a {
  text-decoration: none;
}

.firm{
  font-size: 12px;
}

.tip {
  color: rgb(255, 255, 255);
}

.expertice {
  background-color: rgb(0, 0, 0);
  color: rgb(27, 145, 255);
  width: fit-content;
}