body{
  font-family: 'Source Code Pro' !important;
}

.white {
  color: rgb(255, 255, 255);
}

.nav-element {
  text-decoration: none !important;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  padding: 20px;
  font-size: 14px;
}

.icon{
    font-size: 21px;
}

.msg {
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  font-size: 14px;
  width: fit-content;
  margin: 30px auto;
  text-align: center;
}

.title-section-black, .title-section-white, .title-section-mix, .title-section-wwhite{
    font-size: 40px;
    border-bottom: 2px;
    font-weight: lighter;
}

.title-section-mix, .title-section-wwhite{
  color: rgb(255, 255, 255);
}

.title-section-white {
  color: rgb(0, 0, 0);
}

.gallery-item{
  position:relative;
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: -6px 6px rgb(0, 0, 0);
}

.hovereffect {
  width: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: rgb(0, 0, 0);
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 30px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  font-weight: 100;
  color: rgb(255, 255, 255);
  text-align: center;
  position: relative;
  font-size: 21px;
  letter-spacing: 10px;
  overflow: hidden;
  background-color: transparent;
  padding: 20px;
}

.hovereffect h2:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width:100%;
  height: 4px;
  background: rgb(255, 255, 255);
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(-100%,0,0);
  transform: translate3d(-100%,0,0);
}

.hovereffect:hover h2:after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a {
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);  
}

.overlay {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.overlay:hover{
  opacity: 1;
}

.gallery-title {
  font-weight: lighter;
  width: 80%;
  margin: auto;
}

.changing-words span{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 40px;
  padding: 0 20px;
}

.design {
  font-size: 52px;
  color: rgb(255, 255, 255);
}

.presentation {
  font-size: 16px;
  color: rgb(255, 255, 255);
  font-weight: 200;
  text-align: justify;
  padding: 20px 20px;
  margin: 0;
}

.profesional-profile{
  font-size: 10px;
  color: rgb(255, 255, 255);
  font-weight: lighter;
  text-align: justify;
  padding: 20px 20px;
  margin: 0;
}

.work-list li{
  color: rgb(0, 0, 0);
  margin: 10px 5px;
  padding: 0 12px 0 6px;
  display: list-item;
  list-style: square;
}

.btn-to span {
  font-size: 21px;
  color:rgb(255, 255, 255);
}

.btn-to a {
  text-decoration: none;
}

.firm, .tip{
  font-size: 14px;
}

.tip {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.expertice {
  background-color: transparent;
  color: rgb(27, 145, 255);
}

.license-group a{
  text-decoration: none;
}

/* responsive */
@media (min-width:700px){
  .white {
    color: rgb(255, 255, 255);
  }

  .title-section-black, .title-section-white, .title-section-mix, .title-section-wwhite{
    font-size: 52px;
    border-bottom: 2px;
    font-weight: lighter;
}

.msg {
  color: rgb(255, 255, 255);
  padding: 10px 0;
  border: 1px solid rgb(255, 255, 255);
  font-size: 21px;
  width: 500px;
  margin: 30px auto 30px 10%;
  text-align: center;
  letter-spacing: 1px;
}

.gallery-item{
  position:relative;
  width: 35%;
  margin-left: 10%;
  margin-bottom: 50px;
  border: 2px solid rgb(0, 0, 0);
  box-shadow: -6px 6px rgb(0, 0, 0);
}

.hovereffect h2 {
  font-size: 32;
  width: 80%;
}

.design {
  font-size: 90px;
  color: rgb(0, 0, 0);
}

.changing-words span{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 75px;
  margin-left: 8px;
  padding: 0 20px;
}

.title-section-mix{
  color: rgb(0, 0, 0);
}

.presentation {
  font-size: 18px;
  color: rgb(0, 0, 0);
  font-weight: 200;
  text-align: justify;
  padding: 20px 20px;
  margin: 0;
}

.profesional-profile{
  font-size: 13px;
  color: rgb(0, 0, 0);
  font-weight: lighter;
  text-align: justify;
  padding: 20px 20px;
  margin: 0;
}

.title-section-white, .title-section-wwhite {
  color: rgb(255, 255, 255);
}

.work-list li{
  color: rgb(255, 255, 255);
  padding: 0px 40px;
  display: list-item;
  margin: 30px 0;
}

.btn-to span {
  font-size: 21px;
  color: rgb(70, 70, 70);
}

.expertice {
  background-color: rgb(0, 0, 0);
  color: rgb(27, 145, 255);
  width: fit-content;
}

.strong-img img {
  border: 2px solid rgb(170, 170, 170);
  box-shadow: 4px 4px rgb(170, 170, 170);
}

.appointment {
  color: rgb(255, 255, 255);
  font-size: 16px;
  margin:0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.project-name, 
.job, .methodology, 
.employer-profile, .title-list{
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin: 0;
}

.employer-profile{
  color: rgb(255, 255, 255);
  font-size: 12px;
  margin-bottom: 30px;
  text-align: justify;
}

.job a{
  padding: 10px;
  color: rgb(255, 255, 255);
}

.job{
  padding: 0 10px;
}

.job li {
  padding: 10px 0;
}

ul {
  list-style-type: square;
}

.project-name{
  margin-bottom: 20px;
}

.box-project {
  border: 2px solid rgb(255, 255, 255);
  width: fit-content;
  padding: 20px;
  margin-bottom: 30px;
}

.title-list{
  font-weight: bold;
}

}
