.white {
    color: rgb(255, 255, 255);
}

li a {
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-family: 'Source Code Pro', monospace;
    text-decoration: none;
    padding: 20px;
    font-size: 14px;
}

.icon{
    font-size: 21px;
}

.title-section{

    font-family: 'Source Code Pro';
    font-size: 52px;
    font-weight: lighter;
    border-bottom: 2px;
}

