body {
    margin: 0;
    width: 100%;
}

header{
    padding: 30px 30px;
    position: relative;
    background: rgb(0, 0, 0);
}

header::after {
    content:'';
    clear: both;
    display: block;
}

.site-nav{
    top: 100%;
    right: 0%;;
    position: absolute;
    background: rgb(0, 0, 0);
    height: 0;
    overflow: hidden;
}

.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid white;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    display: block;
    padding: 20px 20px;
}

.site-nav a:hover,
.site-nav a:focus {
    background: grey;
    color: black;
}

.site-nav--open {
    height: auto;
}

.nav-elements {
    text-align: center;
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 0.5em;
    cursor: pointer;
}

.hamburguer,
.hamburguer::after,
.hamburguer::before {
    content:'';
    display: block;
    background:rgb(255, 255, 255);
    height: 3px;
    width: 22px;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburguer::after {
    transform: translateY(-12px);
}

.hamburguer::before {
    transform: translateY(8px);
}

.open .hamburguer {
    transform: rotate(45deg);
}

.open .hamburguer::after{
    opacity: 0;
}

.open .hamburguer::before{
    transform: rotate(-90deg);
}

.top {
    width: 100%;
    height: 600px;
    background-color: rgb(0, 0, 0);
    margin: 0;
    justify-content: center;
    align-items: center;
}

.square-white {
    width: 300px;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 100px auto 0 auto;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

.logo-let {
    width: 180px;
    height: 180px;
    background-image: url(img/Logo_LET_home.png);
    background-size: cover;
    border: 4px solid rgb(255,255,255);
    border-radius: 10px;
    box-shadow: -8px -8px rgb(255, 255, 255);

}

.rrss {    
    background-color: rgb(0, 0, 0);
    border:transparent;
    position: relative;
    top: 90%;
    width: 362x;
    display: flex;
    justify-content: center;
    margin: auto;
}

.group-rrss{
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

#work {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title-section-black, .title-section-white, .title-section-mix{
    position: absolute;
    margin-left: 6%;
}

.gallery-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 120px 0 0 0;
    align-self: center;    
}

#jazzy-approach{
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.animate-approach{
    position: absolute;
    margin: 120px auto;
    align-self: center;
}

.design{
    display: block;
}

.changing-words {
    margin: 20px;
}

.changing-words span{
    position: absolute;
    overflow: hidden;
    animation: animate 10s linear infinite;
    opacity: 0;
}

.myself {
    width: 80%;
    align-self: center;
    height: auto;
    margin: 400px auto 100px auto;
    background-color: rgba(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(255, 255, 255);
}

#hire-me {
    width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    left: 6%;
}

.profile-photo-cell{
    background-image: url(img/let_b_sesion/letb7.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
}

.work-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-list{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);
    margin: 150px auto 0 auto;
    width: 80%;
}

.work-list{
    display: block;
    margin-left: 60px;
    width: auto;
    height: auto;    
    padding: 20px 0;
}

.btns-contact {
    margin: 40px auto 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-to {
    background-color: rgb(70, 70, 70);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);
    margin-bottom: 30px;
}

.desk {
    display: none;
}

.cell {
    display: flex;
}

footer {
    width: 100%;
    height: 150px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
    left: 10%;
    
}

.firm-logo-home{
    margin-left: 10%;
    display: flex;
}

.foot-logo{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    margin: 20px;
}

.firm{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 18px 18px;
}

.license-group{
    display: flex;
    flex-direction: column;
    margin-top:70px;
}

/* responsive */
@media (min-width:700px){
    .menu-toggle {
        display: none;
    }

    .site-nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
    }

    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
        color: white;
    }

    nav {
        height: 40px;
    }

    .square-white {
        width: 500px;
        height: 500px;
        background-color: rgb(255,255,255);
        margin-top:10%;
        margin-left:10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .logo-let {
        width: 300px;
        height: 300px;
        background-image: url(img/Logo_LET_home.png);
        background-size: cover;
        border: 6px solid rgb(255,255,255);
        border-radius: 20px;
        margin-left: 50%;
        margin-bottom: 30px;
        box-shadow: none;
    }

    .top {
        width: 100%;
        height: 1000px;
        background-color: rgb(0, 0, 0);
        margin: 0;
    }

    .rrss {    
        background-color: rgb(0,0,0);
        border: none;
        box-shadow: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: fixed;
        top: 30%;
        right: 0;
        z-index: 1;
        width: 50px;
        height: 300px;
        margin-right: 0;
    }
    
    .group-rrss{
        width: 50px;
        height: 300px;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
    }

    .title-section-black, .title-section-white, .title-section-mix{
        position: absolute;
        margin-left: 10%;
    }

    .gallery-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 200px 0;
        align-self: center;    
    }

    #jazzy-approach{
        left: 10%;
        width: 100%;
        height: 1000px;
        background-image: url(img/let_b_sesion/letb4.jpg);
        background-size: cover;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .animate-approach{
        position: absolute;
        left:10%;
        margin: 180px;
    }

    .changing-words {
        margin-left: 140px;
    }

    .myself {
    margin-left: 10%;
    margin-top: 35%;
    width: 40%;
    height: auto;
    background-color: rgb(255,255,255, 0.5);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);
}

.profile-photo-cell{
    display: none;
}

#hire-me {
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    left: 10%;
}

.work-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box-list{
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(255, 255, 255);
    margin: 150px auto 0 10%;
}

.work-list{
    display: block;
    margin-left: 10%;   
    padding: 0;
    width: auto;
    height: auto;
    display: list-item;
    list-style: square;
}

.btns-contact {
    margin-right: 30%;
    margin-top: 15%;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-to {
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(70, 70, 70);
    box-shadow: 5px 5px rgb(70, 70, 70);
}

.desk {
    display: flex;
}

.cell {
    display: none;
}
    
}