body {
    margin: 0;
    width: 100%;
}

header{
    padding: 0;
    background: rgb(0, 0, 0);
    position: relative;
    width: 100%;
    z-index: 9999999;
}


header::after {
    content:'';
    clear: both;
    display: block;
}

.site-nav{
    margin: 60px 0;
    right: 0;
    position: absolute;
    background: rgb(0, 0, 0);
    height: 0;
    overflow: hidden;
}

.site-nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.site-nav li {
    border-bottom: 1px solid white;
}

.site-nav li:last-child {
    border-bottom: none;
}

.site-nav a {
    display: block;
    padding: 20px 20px;
}

.site-nav a:hover,
.site-nav a:focus {
    background: grey;
    color: black;
}

.site-nav--open {
    height: auto;
}

.nav-elements {
    text-align: center;
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: 1em;
    right: 0.5em;
    cursor: pointer;
}

.hamburguer,
.hamburguer::after,
.hamburguer::before {
    content:'';
    display: block;
    background:rgb(255, 255, 255);
    height: 3px;
    width: 22px;
    border-radius: 3px;
    transition: all ease-in-out 500ms;
}

.hamburguer::after {
    transform: translateY(-12px);
}

.hamburguer::before {
    transform: translateY(8px);
}

.active .hamburguer {
    transform: rotate(45deg);
}

.active .hamburguer::after{
    opacity: 0;
}

.active .hamburguer::before{
    transform: rotate(-90deg);
}

.top {
    width: 100%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    margin: 0;
    justify-content: center;
    align-items: center;
}

.square-white {
    width: 300px;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 185px auto 0 auto;
    align-items: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

.logo-let {
    width: 180px;
    height: 180px;
    background-image: url(img/Logo_LET_home.png);
    background-size: cover;
    border: 4px solid rgb(255,255,255);
    border-radius: 10px;
    box-shadow: -8px -8px rgb(255, 255, 255);

}

.rrss {    
    background-color: rgb(0, 0, 0);
    border:transparent;
    position: relative;
    top: 90%;
    width: 362x;
    display: flex;
    justify-content: center;
    margin: auto;
}

.group-rrss{
    width: 95%;
    height: 50px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}

#work {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title-section-black, .title-section-white, .title-section-mix, .title-section-wwhite{
    position: absolute;
    margin-left: 6%;
}

.gallery-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 120px auto;
    align-self: center;    
}

#jazzy-approach{
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.animate-approach{
    position: absolute;
    margin: 120px auto;
    align-self: center;
}

.design{
    display: block;
}

.changing-words {
    margin: 20px;
}

.changing-words span{
    position: absolute;
    overflow: hidden;
    animation: animate 10s linear infinite;
    opacity: 0;
}

.myself {
    width: 80%;
    align-self: center;
    height: auto;
    margin: 400px auto 100px auto;
    background-color: rgba(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(255, 255, 255);
}

#hire-me {
    width: 100%;
    height: 1000px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    left: 6%;
}

.profile-photo-cell{
    background-image: url(img/let_b_sesion/letb7.jpg);
    background-size: cover;
    height: 600px;
    width: 100%;
}

.work-about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box-list{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);
    margin: 150px auto 0 auto;
    width: 80%;
}

.work-list{
    display: block;
    margin-left: 60px;
    width: auto;
    height: auto;    
    padding: 20px 0;
}

.btns-contact {
    margin: 40px auto 0 auto;
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-to {
    background-color: rgb(70, 70, 70);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);
    margin-bottom: 30px;
}

.desk {
    display: none;
}

.cell {
    display: flex;
}

footer {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.firm-logo-home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.foot-logo{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255);
    margin: 30px auto;
}

.firm{
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin: auto;
}

#project-top{
    width: 100%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.changing-titles{
    margin-top: 10px;
}

.changing-titles span{
    position: absolute;
    overflow: hidden;
    animation: animate 10s linear infinite;
    opacity: 0;
}


@media (min-width:700px){

    header{
        padding: 30px 30px;
        background: rgb(0, 0, 0);
        position: fixed;
        width: 100%;
        z-index: 9999999;
    }
    .menu-toggle {
        display: none;
    }

    .site-nav {
        margin: 0 50px 0 0;
        height: auto;
        position: relative;
        background: transparent;
        float: right;
    }

    .site-nav li {
        display: inline-block;
        border: none;
    }

    .site-nav a:hover,
    .site-nav a:focus {
        background: transparent;
        color: white;
    }

    nav {
        height: 40px;
    }

    .square-white {
        width: 500px;
        height: 500px;
        background-color: rgb(255,255,255);
        margin-top:10%;
        margin-left:10%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    .logo-let {
        width: 300px;
        height: 300px;
        background-image: url(img/Logo_LET_home.png);
        background-size: cover;
        border: 6px solid rgb(255,255,255);
        border-radius: 20px;
        margin-left: 50%;
        margin-bottom: 30px;
        box-shadow: none;
    }

    .top {
        width: 100%;
        height: 1000px;
        background-color: rgb(0, 0, 0);
        margin: 0;
    }

    .rrss {    
        background-color: rgb(0,0,0);
        border: none;
        box-shadow: none;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        position: fixed;
        top: 30%;
        right: 0;
        z-index: 1;
        width: 50px;
        height: 300px;
        margin-right: 0;
    }
    
    .group-rrss{
        width: 50px;
        height: 300px;
        display: flex;
        flex-direction:column;
        justify-content: space-around;
        align-items: center;
    }

    .title-section-black, .title-section-white, .title-section-mix, .title-section-wwhite{
        position: absolute;
        margin: 120px 10%;
    }

    .gallery-wrapper{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 80%;
        margin: 250px 0 100px;
        align-self: center;   
        justify-content: space-between; 
    }

    #jazzy-approach{
        left: 10%;
        width: 100%;
        height: auto;
        background-image: url(img/let_b_sesion/letb4.jpg);
        background-size: cover;
        margin: 0;
        display: flex;
        flex-direction: column;
    }

    .animate-approach{
        position: absolute;
        left:10%;
        margin: 250px auto 0;
    }

    .changing-words {
        margin-left: 140px;
    }

    .myself {
    margin-left: 10%;
    margin-top: 45%;
    width: 40%;
    height: auto;
    background-color: rgb(255,255,255, 0.5);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);
}

.profile-photo-cell{
    display: none;
}

#hire-me {
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    left: 10%;
}

.work-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 250px 10% 150px;
}

.box-list{
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(255, 255, 255);
    margin: 0;
}

.work-list{
    display: block;
    margin-left: 10%;   
    padding: 0;
    width: auto;
    height: auto;
    display: list-item;
    list-style: square;
}

.btns-contact {
    margin-top: 0;
    margin-bottom: 180px;
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-to {
    background-color: rgb(255, 255, 255);
    height: 100px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(70, 70, 70);
    box-shadow: 5px 5px rgb(70, 70, 70);
}

.desk {
    display: flex;
}

.cell {
    display: none;
}

footer {
    width: 100%;
    background-color: rgb(40, 40, 40);
    display: flex !important;
    justify-content: space-between;
    flex-direction: row;
    left: 10%;
    
}

.firm-logo-home{
    margin-left: 10%;
    display: flex;
    flex-direction: row;
}

.foot-logo{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
}

.firm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 18px 18px;
    text-align: justify;
}

.back-top{
    margin: auto 10%;
}

#project-top{
    width: 100%;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    left: 10%;
    padding-bottom: 50px;
}

.brief-project{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 120px 10% 20px 10%;
    justify-content: space-between;

}

.employer{
    display: flex;
    flex-direction: column;
    width: 45%;
    justify-content: space-between;
}

.strong-img{
    position: relative; 
    width: 100%;
}

.strong-img img{
    width: 100%;
    height: auto;
}

.brief-text{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#gallery-project-wrapper{
    background-color: rgb(0, 0, 0);
}

.gallery-project{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto 50px;
}

.gallery-project a{
    display: block;
    text-decoration: none;
    width: 50%;
    overflow: hidden;
    outline: none;
    height: auto;
    border: 4px solid rgb(255,255, 255);
}

.gallery-project a img {
    height: auto;
    width: 100%;
    transform: scale(1,1);
    transition: all 300ms ease;
}

.gallery-project a img:hover {
    transform: scale(1.1, 1.1);
}

.video-wrap{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 50px;
}

}
