body {
    margin: 0;
}

.cover {
    width: 100%;
    height: 700px;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
}

.nav-elements{
    position: absolute;
    top: 2%;
}

li {
    display: inline-block;
}

.square-white {
    width: 500px;
    height: 500px;
    background-color: rgb(255,255,255);
    margin-top:10%;
    margin-left:10%;
}

.logo-let {
    width: 300px;
    height: 300px;
    background-image: url(img/Logo_LET_home.png);
    background-size: cover;
    border: 6px solid rgb(255,255,255);
    border-radius: 20px;
    margin-left:50%;
}