body {
    margin: 0;
    width: 100%;
}

.top {
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 60px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    z-index: 1;
    top: 0;
}

.nav-elements{
    position: absolute;
    top: 2%;
}

li {
    display: inline-block;
}

#wrapper {
    display: flex;
    flex-direction: column;
}


.square-white {
    width: 500px;
    height: 500px;
    background-color: rgb(255,255,255);
    margin-top:10%;
    margin-left:10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.logo-let {
    width: 300px;
    height: 300px;
    background-image: url(img/Logo_LET_home.png);
    background-size: cover;
    border: 6px solid rgb(255,255,255);
    border-radius: 20px;
    margin-left: 50%;
    margin-bottom: 30px;
}

.rrss {    
    background-color: rgb(0,0,0);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: fixed;
    top: 30%;
    right: 0;
}

.group-rrss{
    width: 50px;
    height: 300px;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

#work {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title-section-black, .title-section-white{
    position: absolute;
    margin-left: 10%;
}

.gallery-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 200px 0;
    align-self: center;    
}

#jazzy-approach{
    left: 10%;
    width: 100%;
    height: 1000px;
    background-image: url(img/let_b_sesion/letb4.jpg);
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.animate-approach{
    position: absolute;
    left:10%;
    margin: 180px;
    font-size: 100px;
}

.design{
    display: block;
}

.changing-words {
    margin-left: 140px;
}

.changing-words span{
    position: absolute;
    overflow: hidden;
    animation: animate 10s linear infinite;
    opacity: 0;
}

.myself {
    margin-left: 10%;
    margin-top: 35%;
    width: 40%;
    height: auto;
    background-color: rgb(255,255,255, 0.5);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 5px 5px rgb(0, 0, 0);
}

#hire-me {
    width: 100%;
    height: 1000px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    left: 10%;

}

.work-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.work-list{
    margin-left: 10%;
    margin-top: 15%;
    width: auto;
    height: auto;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 5px 5px rgb(255, 255, 255);
    padding: 20px 0;
}

.btns-contact {
    margin-right: 30%;
    margin-top: 15%;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btn-to {
    background-color: rgb(255, 255, 255);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(70, 70, 70);
    box-shadow: 5px 5px rgb(70, 70, 70);
}

footer {
    width: 100%;
    height: 150px;
    background-color: rgb(40, 40, 40);
    display: flex;
    flex-direction: row;
    left: 10%;
    
}

.firm-logo-home{
    margin-left: 10%;
    display: flex;
}

.foot-logo{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid rgb(255, 255, 255);
    margin: 20px;
}

.firm{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 18px 18px;
}

.license-group{
    display: flex;
    flex-direction: column;
    margin-top:70px;
    
}